<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Sarthak. It uses data from <a href="https://www.mapbox.com/">mapbox.com</a> and <a href="https://weatherstack.com/">weatherstack.com</a></p>
    </div>
    
    {{>footer}}
</body>

</html>